@model DataLayer.Models.Book

<h3>@Model.Name</h3>
<h5>Author: @Html.ActionLink(Model.Author.Name, "Details", "Authors", new { id = Model.AuthorId }, null)</h5>
<p>@Html.DisplayNameFor(x => x.PublicationYear): 
@Html.DisplayFor(x => x.PublicationYear)</p>